

<div class="list">

  <a ng-click="myPopup.close()" class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
  <a  class="item">
    11
  </a>
</div>
