<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="个人空间" hide-back-button="true">

  <ion-nav-buttons side="left">
    <button class="button button-clear button-dark" ng-click="$ionicGoBack()">
      <i class="icon ion-ios-arrow-left"></i>
      返回
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-dark" ng-click="optionsClick()">
      <i class="icon ion-ios-refresh-empty"></i>
      换一个
    </button>
  </ion-nav-buttons>

  <ion-content class="padding has-footer">
    <div class="list card">

      <a class="item item-thumbnail-left" ng-click="showImage(3)">
        <img ng-src="{{userinfo.avatar}}" >
        <h3>昵称：{{userinfo.username}}</h3>
        <p>城市：{{userinfo.city.region_name}}</p>
        <p>{{userinfo.vir_age}}岁</p>
      </a>


      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item positive" ng-click="applyMeet()">
          <i class="icon ion-ios-wineglass"></i>
          申请见面
        </a>
        <a class="tab-item positive" ng-show="relationship" ng-click="relationship = !relationship">
          <i class="icon ion-ios-heart-outline"></i>
          取消关注
        </a>
        <a class="tab-item positive" ng-show="!relationship" ng-click="relationship = !relationship">
          <i class="icon ion-ios-heart-outline"></i>
          关注我吧
        </a>
        <a class="tab-item positive" ng-click="showConfirm()">
          <i class="icon ion-share"></i>
          QQ微信
        </a>
      </div>


      <div class="title-info "><span>最近收到的礼物</span></div>
      <ion-scroll direction="x" class="wide-as-needed">
        <a ng-repeat="gift in userinfo.gifts" href="#">
          <img class = "myavatar" ng-src="image/gift/{{gift.message}}.gif">
        </a>
      </ion-scroll>
    </div>

    <div class="title-info"><span>基本资料</span></div>

    <div class="list">
      <a class="item">
        婚姻
        <span class="item-note positive">{{userinfo.marry}}</span>
      </a>
      <a class="item">
        身高
        <span class="item-note positive">{{userinfo.height}}cm</span>
      </a>
      <a class="item">
        职业
        <span class="item-note positive">{{userinfo.career}}</span>
      </a>
      <a class="item">
        学历
        <span class="item-note positive">{{userinfo.collage}}</span>
      </a>
    </div>
    <div class="title-info "><span>个人空间</span></div>

    <div class="list">
      <a class="item">
        交友目的
        <span class="item-note positive">{{userinfo.purpose}}</span>
      </a>
      <a class="item">
        居住情况
        <span class="item-note positive">{{userinfo.live}}</span>
      </a>
      <a class="item">
        恋爱观念
        <span class="item-note positive">{{userinfo.lovepoint}}</span>
      </a>
      <a class="item">
        首次见面希望
        <span class="item-note positive">{{userinfo.wish}}</span>
      </a>
      <a class="item">
        喜欢约会/爱爱地点
        <span class="item-note positive">{{userinfo.meetads}}</span>
      </a>

    </div>
    <div class="title-info "><span>内心独白</span></div>
    <div class="card inner-monologue">
      <div class="item item-text-wrap positive">
        {{userinfo.talk}}
      </div>
    </div>

    <div class="">
      <button ng-click="" class="button button-block button-light">
        举报
      </button>
    </div>
  </ion-content>

<!--  <div class="bar bar-footer">
    <button class="button button-clear button-dark">
      <i class=""></i>
      招呼
    </button>
    <button class="button button-clear button-dark button-center">
      <i class=""></i>
      写私信
    </button>
    <button class="button button-clear button-dark">
      <i></i>
      送礼物
    </button>
  </div>
-->
  <div class="bar bar-footer bar-light footer-buttons">
    <div class="row">
      <div class="col">
        <button class="button button-clear icon-left ion-ios-paperplane-outline" ng-click="sayhi()">打招呼</button>
      </div>
      <div class="col">
        <button class="button button-clear icon-left ion-ios-email-outline" ui-sref="emailSending({sendId:12})">写私信</button>
      </div>
      <div class="col">
        <button class="button button-clear icon-left ion-ios-upload-outline" ng-click="showImage(2)">送礼物</button>
      </div>
    </div>
  </div>

</ion-view>
