<ion-modal-view class="ion-nifty-modal ">
<div class="ion-modal-content-custom" ng-click="closeModal()">
  <ion-pane class="">
    <div class="row">
      <div class="col-50"><img src="img/poke/cyx.gif" width="28px" height="28px"><span>见一面吗 ?</span></div>
      <div class="col-50"><img src="img/poke/fw.gif" width="28px" height="28px"><span>握个手吧~~~~~~</span> </div>
    </div>
    <div class="row">
      <div class="col-50"><img src="img/poke/dyx.gif" width="28px" height="28px"><span>见一面吗 ?</span></div>
      <div class="col-50"><img src="img/poke/jy.gif" width="28px" height="28px"><span>握个手吧~~~~~~</span> </div>
    </div>
  </ion-pane>
</div>
</ion-modal-view>
