<ion-modal-view class="ion-nifty-modal">
<ion-pane class="">
  <ion-header-bar>
    <h1 class="title">招呼</h1>
    <div class="buttons">
      <button class="button button-positive" ng-click="hide()">关闭</button>
    </div>
  </ion-header-bar>
  <ion-content class="">

    <form name="myForm" class="">
      <ul class="row" ng-repeat="h in hi" ng-if="$index % 2 === 0">
        <li class="col-50">
          <label>
            <input type="radio" ng-model="name.idx" name="n" value="{{hi[$index].id}}" />
            <span ng-bind-html="hi[$index].title"></span>
          </label>
        </li>
        <li class="col-50">
          <label>
            <input type="radio" ng-model="name.idx" name="n" value="{{hi[$index+1].id}}" />
            <span ng-bind-html="hi[$index+1].title"></span>
          </label>
        </li>
      </ul>

      <button class="button button-block button-outline button-positive" ng-click="submit(name.idx);hide()">提交</button>
    </form>
  </ion-content>
</ion-pane>
</ion-modal-view>
