<ion-view view-title="我的收信" class="view-tabs-top">

  <div class="tabs tabs-top tabs-virtual">
    <a href class="tab-item disable-user-behavior"
       ng-class="{active: active_content=='orders'}" ng-click="setActiveContent('orders')">
      收件箱
    </a>
    <a href class="tab-item disable-user-behavior"
       ng-class="{active: active_content=='deliveries'}" ng-click="setActiveContent('deliveries')">
      发件箱
    </a>
  </div>

  <ion-content ng-init="" has-header="true" ng-show="active_content=='orders'">
    <ion-refresher pulling-text="向下拉更新..." on-refresh="messagesRefresh()"></ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left" ng-repeat="message in messages" type="item-text-wrap" >
        <img class ="myavatar" ui-sref="event({eventId:message.fromuserid.userid})" ng-src="{{message.fromuserid.avatar}}">
        <p class="pos-absolute-right">{{message.addtime}}</p>
        <h2>{{message.fromuserid.username}}</h2>

        <p  ng-hide="message.sign"><span class="assertive">只有砖石会员才能看信内容</span></p>
        <span  ng-hide="message.sign" class="positive" ui-sref="event({eventId:message.fromuserid.userid})">请立即升级砖石会员</span>
        <span ng-show="message.sign" class="positive">{{message.message}}</span>
        <button ng-hide="message.sign" class="button button-outline button-small button-positive pos-absolute-right" ui-sref="emailSending({sendId:message.fromuserid.userid, messageid: message.id})">
          回复
        </button>
        <ion-option-button class="button-assertive" ng-click="delete(message)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-content has-header="true" ng-show="active_content=='deliveries'">
    <ion-refresher pulling-text="向下拉更新..." on-refresh="sendboxRefresh()"></ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left" ng-repeat="message in sendboxmessages" type="item-text-wrap" href="#">
        <img class ="myavatar"ui-sref="event({eventId:message.userid.userid})" ng-src="{{message.userid.avatar}}">
        <p class="pos-absolute-right">{{message.addtime}}</p>
        <h2>{{message.userid.username}}</h2>
        <br>
        <span>{{message.message}}</span>
        <ion-option-button class="button-assertive" ng-click="deleteSendMessage(message)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
