<ion-view view-title="{{city}}-同城在线">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <!--<div class="row" ng-repeat="image in images" ng-if="$index % 3 === 0">
      <div class="col col-33" ng-if="$index < images.length">
        <img ng-src="{{images[$index].src}}" width="100%" />
      </div>
      <div class="col col-33" ng-if="$index + 1 < images.length">
        <img ng-src="{{images[$index + 1].src}}" width="100%" />
      </div>
      <div class="col col-33" ng-if="$index + 2 < images.length">
        <img ng-src="{{images[$index + 2].src}}" width="100%" />
      </div>
    </div>-->
      <div class="row" ng-repeat="twitt in twitts" ng-if="$index % 3 === 0">
        <div class="col col-33" ng-if="$index < twitts.length">

          <div class="item item-image">
            <img ng-src="{{::twitts[$index].avatar}}" width="100%" ui-sref="event({eventId:twitts[$index].userid})">
          </div>
        <span class="assertive">
          {{twitts[$index].dist}}米
        </span>
        <span class="assertive">
          {{twitts[$index].age}}岁
        </span>
        </div>

        <div class="col col-33" ng-if="$index + 1 < twitts.length">

          <div class="item item-image">
            <img ng-src="{{twitts[$index+1].avatar}}" width="100%" ui-sref="event({eventId:twitts[$index+1].userid})">
          </div>

        <span class="assertive">
          {{twitts[$index+1].dist}}米
        </span>
        <span class="assertive">
          {{twitts[$index+1].age}}岁
        </span>

        </div>

        <div class="col col-33" ng-if="$index + 2 < twitts.length">

          <div class="item item-image">
            <img ng-src="{{twitts[$index+2].avatar}}" width="100%" ui-sref="event({eventId:twitts[$index+2].userid})">
          </div>

        <span class="assertive">
          {{twitts[$index+2].dist}}米
        </span>
        <span class="assertive">
          {{twitts[$index+2].age}}岁
        </span>

        </div>

      </div>
    <ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>

<!--    <div class="row responsive-lg">
  <div class="col mycol" ng-repeat="image in images" ng-if="$index % 3 === 0">
    <div class="row myrow">
    <div class="col mycol" ng-if="$index < images.length">

      <div class="">
        <img ng-src="{{images[$index].src}}" width="100%">
      </div>
        <span class="assertive">
          {{images[$index].dist}}米
        </span>
        <span class="assertive">
          {{images[$index].age}}
        </span>
    </div>

    <div class="col mycol" ng-if="$index + 1 < images.length">

      <div class="">
        <img ng-src="{{images[$index+1].src}}" width="100%">
      </div>

        <span class="assertive">
          {{images[$index+2].dist}}米
        </span>
        <span class="assertive">
          {{images[$index].age}}
        </span>

    </div>

    <div class="col mycol" ng-if="$index + 2 < images.length">

      <div class="">
        <img ng-src="{{images[$index].src}}" width="100%">
      </div>

        <span class="assertive">
          {{images[$index].dist}}米
        </span>
        <span class="assertive">
          {{images[$index].age}}
        </span>

    </div>
    </div>
  </div>
</div>


<!--    <div class="row" ng-repeat="image in images" ng-if="$index % 3 === 0">
      <div class="col col-33" ng-if="$index < images.length">

        <div class="item item-image">
          <img ng-src="{{images[$index].src}}" width="100%">
        </div>
        <span class="assertive">
          {{images[$index].dist}}米
        </span>
        <span class="assertive">
          {{images[$index].age}}
        </span>
      </div>

      <div class="col col-33" ng-if="$index + 1 < images.length">

        <div class="item item-image">
          <img ng-src="{{images[$index].src}}" width="100%">
        </div>

        <span class="assertive">
          {{images[$index].dist}}米
        </span>
        <span class="assertive">
          {{images[$index].age}}
        </span>

      </div>

      <div class="col col-33" ng-if="$index + 2 < images.length">

        <div class="item item-image">
          <img ng-src="{{images[$index].src}}" width="100%">
        </div>

        <span class="assertive">
          {{images[$index].dist}}米
        </span>
        <span class="assertive">
          {{images[$index].age}}
        </span>

      </div>

    </div>
-->
  </ion-content>
</ion-view>
