<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="我">
  <ion-content class="padding">
    <div class="list card">

      <button class="button button-full button-positive" ng-click="getImageSaveContact()">
        Get Image and Save a Contact with It
      </button>
      <img ng-src="{{collection.myCroppedImage}}" style="width:100%; height: auto;"/>

      <a class="item item-thumbnail-left" href="#">
        <img ng-src="{{info.avatar}}">
        <h2>{{info.username}}</h2>
        <p>ID：{{info.userid}}</p>
        <p class="positive">积分：{{info.point}}</p>
      </a>


      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item positive" ng-click="checkin()">
          <i class="icon ion-pricetags"></i>
          签到
        </a>
        <a class="tab-item positive" ui-sref="personalInfo()">
          <i class="icon ion-chatbox"></i>
          个人资料
        </a>
        <a class="tab-item positive" href="#">
          <i class="icon ion-share"></i>
          交友资料
        </a>
      </div>

      <div class="title-info"><span>谁看了我</span></div>

      <ion-scroll direction="x" class="wide-as-needed">
        <span ng-repeat="see in seen"><img class = "myavatar" width="61px" height="80px" ui-sref="event({eventId:see.fromuserid.userid})" ng-src="{{see.fromuserid.avatar}}"></span>
      </ion-scroll>
    </div>

    <div class="list">

      <a href="#" class="item item-icon-right">
        收到的礼物
        <span class="badge badge-assertive">{{num}}</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a href="#" class="item item-icon-right">
        我的关注
        <span class="badge badge-assertive">8</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a href="#" class="item item-icon-right">
        申请见面
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a href="#" class="item item-icon-right">
        同意见面
        <i class="icon ion-ios-arrow-right"></i>
      </a>

    </div>

    <div class="list">
      <a href="#" class="item item-icon-right">
        设置
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
